// Externals

// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/typography';
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/modals';
@import 'basics/animations';

// Views
@import 'views/home-page';
@import 'views/contact-page';
@import 'views/statistic-page';
@import 'views/signup-page';

// Components
@import 'cmps/contact-preview';
@import 'cmps/contact-list';
@import 'cmps/header';
@import 'cmps/details-page';
@import 'cmps/moves-list';
@import 'cmps/transfer-funds';
@import 'cmps/crypto';
// @import "cmps/contact-filter";

.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .app-header {
    // background: #03a9f4;
    color: white;
    background-color: #0ce9f5b5;
  }

  main {
    flex-grow: 1;
    width: 100%;
  }

  > footer {
    background-color: #111;
    color: white;
  }
}
